@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the Sacrament Meeting Planner</h1>
        <p>This application is dedicated to making it easier for wards to create their programs each Sunday for sacrament meetings.</p>
    </div>
