@page
@model SacramentMeetingPlanner.Pages.ProgramView.DisplayProgramModel
@{
    ViewData["Title"] = "Display Program";
}
<head>
    <link rel="stylesheet" href="~/css/DisplayProgram.css" />
</head>
<div>
    <h1> Sacrament Program</h1>
    
    

</div>
